
.container{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    /* background-color:whitesmoke; */
    width: 100%;
    height: 90px;   
    }
.item{
    flex-basis:33.33%;
    flex-grow:1;
}
.logo{
    padding: 12px;
    margin-left: 60px;
}
.logo img{
    width: 250px;
    border-radius: 100px;
}
ul li{
display: inline;
padding: 5px;

}
 a{
text-decoration: none;
color: white;
font-size: 20px;
padding-left: 10px;
background-color: #017BC8;
padding: 12px;
border-radius: 5px;
margin-right: 11px;
}
.container-2{
    background-color: #017BC8;
    height: 560px;
    text-align: center;
    margin-top: 10px;
}
.item2{
    flex-basis: 8%;
    margin-top: 50px;
    flex-grow: 1;
}
.item h1{
    font-size: 20px;
    margin-top: 300px;
}
.item-2 h1{
    color: white;
    padding-top: 30px;
    font-size: 50px;
    margin-bottom: 0px;
}
.container-2 p{
    
    color: white;
    margin-bottom: 0px;
    font-size: 24px;
}
.card{
    display: flex;
    margin-left: 60px;
    width: 80%;
    margin-top: 10px;
    padding: 40px; 
    }
    .card-1{
        display: flex;
        margin-left: 100px;
        width: 80%;
        margin-top:10px;
        padding: 40px; 
        }

.card-body{
    border-radius: 3%;
    text-align: center;
    padding: 30px;
    border: 2px solid white;
    background-color: #dfe6e9 ;
    width: 200px;
    height: 260px;
    /* display: inline; */
    margin: 10px;
    margin-right: 10px;

}
.card-body-3{
    border-radius: 2%;
    /* text-align: center; */
    padding: 30px;
    border: 2px solid white;
    background-color: #dfe6e9 ;
    width: 300px;

    height: 250px;
    /* display: inline; */
    margin: 10px;
    /* box-shadow: 2px 2px 3px 5px red; */

}

.card-body img{
    border-radius: 50%;
}
.card-body-3 img{
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px blue;
}
.card-body h2{
    font-size: 20px;
    margin-top: 30px;
    margin-right: 30%;
    
    color: black;
}
h3{
    text-align: start;
    display: flex;
    font-size:16px;
    margin-top: 50px;
    margin-right: 0%;
    color: black;
}
.card-body p img{
    margin-left: 20px;
}
.card-body p{
    margin-right: 300px;
    padding: 5px;
}
.itme-9 h4{
    text-align: center;
    font-family: sans-serif;
    padding: 25px;
    color: black;
    font-size: 40px;
}
.color{
    color: #017BC8;
}
.container8{
   /* border: solid #017BC8; */
    display: inline-flex;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    justify-content: space-around;
}

.item-6{
    margin-top: -180px;
    margin-bottom: -50;
    text-align: center;
    font-size: 200px;
}
.item-6 button{
    border-radius: 6px;
    color:white;
    font-size: 20px;
    padding: 10px;
    background-color:#017BC8;
    /* color: #017BC8; */
}
.body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
}

